Welcome to Flyloft.  We are really cool for lots of reasons.
= link_to "List a gig!", new_gig_path
%h2
  = link_to "Upcoming Gigs", gigs_path
%ul
- @gigs.each do |gig|
  %li
    = link_to gig.title, gig